<div class="container">
  <div class="row">
    <div class="col-12">
     <div class="text-center" style="font-size: 100%;">
     <h1>About</h1>
     <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
     <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
     <p>様々なバリエーションをご用意しております。</p>
     <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
     <P>ぜひご注文ください。</P>
     </div>
     </div>
     </div>
     <div class="row">
      <div class="col-12">
        <div id="box">
         <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
        </div>

    
       
      
      </div>
    </div>
  </div>
</div>


