/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

//* ================ リセットCSS ============================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//* ================ Top ====================================

.top-image {
   background-image: url(top.jpg);
   background-size: cover;
   background-position: 40% 70%;
   height: 18rem;
   width: 100%;
}

.GoogleFonts {
  font-family: 'Cormorant', serif;
}

//* kaminariページャー用
.page-item.active .page-link {
    background-color:#EDDCBC;
    border-color:#EDDCBC;
}

.page-link {
    color:#EDDCBC;
}

.page-link:hover {
    color:#bdb096;
}


//* ================ About ====================================

#box{
  height: 600px;
  width: 100%;
}

.image1 {
  background-image: url(about3.jpeg);
}
.image2 {
  background-image: url(top.jpg);
}
.image3 {
  background-image: url(cake_1.jpeg);
}
.image4 {
  background-image: url(pudding_1.jpg);
}
.image5 {
  background-image: url(baked_2.jpeg);
}

html,body{
    height: 100%;
}
div#container{
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;

.line {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 1px black;

}